.*
*.zip
*.tar
*.out
*.log
/bin/
/tmp/

## Git
!.gitkeep
!.gitignore

## GitHub
!.github/

## Mise
!.mise.toml

## Editorconfig
!.editorconfig

## Docker
!.dockerignore

## Husky
!.husky/
!.husky.yaml

## Golang
go.work
go.work.sum
!.golangci.yml
!.goreleaser.yml
